<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/carrinho.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <h2>Shopping Cart</h2>
        </header>
        <div class="container">

            <div class="item-prodct">
                <table>
                    <tr>
                        <td class="titulo"> Item</td>
                        
                        <td class="titulo">Price</td>
                        
                        <td class="titulo">Qty</td>
                        
                        <td class="titulo">Subtotal</td>
                        
        
                    </tr>
                    <tr>
                        <td class="valor valor-item">
                            <div>
        
                                <a href="#">60" Wall Range Hood - PLFW 755.60 in 304 Stainless Steel</a>
                                <img src="../public/img/main/Wall.webp" alt="">
                            </div>
                        </td>
                        <td class="valor"><span>$2,229,99</span></td>
                        <td class="valor"><span>1</span> </td>
                        <td class="valor"> <span>$2,229,99</span>   </td>
                    </tr>
                    
        
                </table>
                
                <div class="buttons-edit">

                    <button>Edit</button>
                    <button>Remove Item</button>
                </div>
    
                <div class="buttons-extra">
                    <button>&#10094 Continue Shopping</button>
                <button>Update Cart</button>
    
                </div>
    
            </div> <!-- aqui termina o meio-->
    
           
            <div id="summary">
                <header>Summary</header>
                <table>
                    <thead>
                        <tr>
                            <td>Item</td>
                            <td>Valor</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Price</td>
                            <td>$ 2,229,99</td>
                        </tr>
                        <tr>
                            <td>Qty</td>
                            <td> 1 un</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>$ 200</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$ 2,029,99</td>
                        </tr>
                    </tbody>
                    
                </table>
                <button class="btn-pagamento">Go to Checkout</button>
            </div>
        </div>


    </main>
</body>
</html>