<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/checkout_pagamento.css">
    <title>Document</title>
</head>
<body>

<header>
    aqui vai o header
</header>
<main>
    <h2>Shopping Cart</h2>

    <div id="section">

        
        <div id="container">
            <table>
                <tr>
                    <td class="titulo"> Item</td>
                    
                    <td class="titulo">Price</td>
                    
                    <td class="titulo">Qty</td>
                    
                    <td class="titulo">Subtotal</td>
                    
    
                </tr>
                <tr>
                    <td class="valor valor-item">
                        <div>
    
                            <img src="../public/img/main/Wall.webp" alt="">
                            <a href="#">60" Wall Range Hood - PLFW 755.60 in 304 Stainless Steel</a>
                        </div>
                    </td>
                    <td class="valor"><span>$2,229,99</span></td>
                    <td class="valor"><span>1</span> </td>
                    <td class="valor"> <span>$2,229,99</span>   </td>
                </tr>
                
    
            </table>
    
        </div>
    
        <div id="summary">
            <header>Summary</header>
            <table>
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Valor</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Price</td>
                        <td>$ 2,229,99</td>
                    </tr>
                    <tr>
                        <td>Qty</td>
                        <td> 1 un</td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>$ 200</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$ 2,029,99</td>
                    </tr>
                </tbody>
            </table>
           
        </div>

    </div>    



</main>
        