<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/checkout_end.css">
    <title>Document</title>
</head>
<body>

    <header>
      
    </header>

    <main>
        <h2>Shipping Address</h2>
        <div class="container-all">

 
            <div class="form">
                <form action="">
                    
                    <div class="input">                   
                        <label for="email">E-mail:</label>
                        <input type="email" id="email"  placeholder="Email address"/>
                    </div>

                    <div>
                        <label for="nome">Last Name:</label>
                        <input type="text" id="nome" />

                    </div>

                    <div>
                        <label for="nome">First Name:</label>
                        <input type="text" id="nome" />
                    </div>

                    <div class="endereco">
                        <label for="endereco">Street Address:</label>
                        <input type="text" id="endereco" />
                        
                    </div>

                    <div>
                        <label for="cidade">Contry:</label>
                        <input type="text" id="cidade" />
                    </div>
            
                    <div>
                        <label for="cep">Zip/Postal Code:</label>
                        <input type="text" id="cep" />
                    </div>
                    <div>
                        <label for="telefone">Phone number:</label>
                        <input type="text" id="telefone" />
                    </div>

                </form>
        
        
                
        
                
                
                     
               
            </div> 

            
                <div id="section">
            
                 
                
                    <div id="summary">
                        <header class="header-summary">Summary</header>
                        <table>
                            <thead>
                                <tr>
                                    <td>Item</td>
                                    <td>Valor</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>$ 2,229,99</td>
                                </tr>
                                <tr>
                                    <td>Qty</td>
                                    <td> 1 un</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td>$ 200</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>$ 2,029,99</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
            
                </div>    
            
            
            
            
        
            <!-- asbkadasfkasfjasfopj-->
         
               
        </div>
        
    </main>
    
    
</body>
</html>