<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommerce</title>
        <link rel="stylesheet" href="../public/css/basic.css">
        <link rel="stylesheet" href="../public/css/header.css">
        <link rel="stylesheet" href="../public/css/forgetpassword.css">
        <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>

        <title>Document</title>
    </head>

    <body>
        
        <header>
            
            <section id = "topheader">
                <a href="#"><img src = "../public/img/logo.webp"  class = "Logo"/></a>            

                <div class="searchbar">
                    <input type="text" class="search-text" placeholder="Find your product...">
                    
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    
                </div>
                    
                <div> 
                    <ul id = "headerbar">
                        <li> <a class = "active" href="myaccount.html"> Sign In </a>  </li>
                        <li> <a href="cart.html"></ahref> <i class="fa-solid fa-cart-shopping"></i></a></li>
                        
                    </ul>
                </div>

            </section>
            
            <section id = "menu">
                <div>

                    <ul id = "navbar">
                        <li> <a class = "active" href="index.html"> Home </a>  </li>
                        <li> <a href="products.html"> Products </a>  </li>
                        <li> <a href="blog.html"> Promotion </a>  </li>
                        <li> <a href="about.html"> About Us </a>  </li>
                        <li> <a href="contact.html"> Contact </a>  </li>
                        

                    </ul>
                </div>
                
            </section>
        </header>

        <main>

        <h1>Forgot your Password?</h1>

        <p>Please enter your email address below to receive a password reset link.</p>

        <form class = "final" method ="post">
            
            <label >Email</label>

            <input type="email" name = "email" required>

            <br><br>

            <button type="submit">Reset My Password</button>

        </form>
        
       
    
    </main>

    </body>

</html>
