<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommerce</title>
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/island.css">
        <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <header>
            
            <section id = "topheader">
                <a href="#"><img src = "/img/logo.webp"  class = "Logo"/></a>            

                <div class="searchbar">
                    <input type="text" class="search-text" placeholder="Find your product...">
                    
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    
                </div>
                    
                <div> 
                    <ul id = "headerbar">
                        <li> <a class = "active" href="myaccount.html"> Sign In </a>  </li>
                        <li> <a href="cart.html"></ahref> <i class="fa-solid fa-cart-shopping"></i></a></li>
                        
                    </ul>
                </div>

            </section>
            
            <section id = "menu">
                <div>

                    <ul id = "navbar">
                        <li> <a class = "active" href="index.html"> Home </a>  </li>
                        <li> <a href="promotion.html"> Promotion </a>  </li>
                        <li> <a href=""> Island  </a>  </li>
                        <li> <a href=""> Professional </a>  </li>
                        <li> <a href="  "> Under Cabinet  </a>  </li>
                        <li> <a href="  "> Wall Mount  </a>  </li>

                    </ul>
                </div>
                
            </section>
        </header>

        <main>
            
            <section class = "banner">

                <div class = "bannertitle">

                    <h2> Island Range Hoods</h2> 
                    <h3> -- INSPIRING SPACES FOR YOUR KITCHEN </h3>
                    <span>Island range hoods are modern and powerful additions to your kitchen. Purchase your island range hood today to make a powerful statement in your beautiful kitchen!</span>

                </div>
               
            </section>


            <section id = "container">

                <div class = "island">
                    <a href="">
                    <img src="/img/products/island/30''pp_plfi_520_30_angled.webp" alt="" class ="photo">
                    <h2>30" Island Range Hood - PLFI 520.30</h2>
                    <span>$849.99</span>
                    </a>
                </div>

                <div class = "island">
                    <a href="">
                    <img src="/img/products/island/30''pp_plfi_544_30_front.webp" alt="" class ="photo">
                    <h2>30" Island Range Hood - PLFI 544.30</h2>
                    <span>$869.99</span>
                    </a>
                </div>

                <div class = "island">
                    <a href="">
                    <img src="/img/products/island/36''plfi_520_30_angled_1.webp" alt="" class ="photo">
                    <h2>36" Island Range Hood - PLFI 520.36</h2>
                    <span>$969.99 </span>
                    </a>
                </div>

                <div class = "island">
                    <a href="">
                    <img src="/img/products/island/36''prosi_30_angled_1.webp" alt="" class ="photo">
                    <h2>36" Island Range Hood - ProSI.36</h2>
                    <span>$1,539.99 </span>
                    </a>
                </div>

                <div class = "island">
                    <a href="">
                    <img src="/img/products/island/42''plfi_755_42_angled.webp" alt="" class ="photo">
                    <h2>42" Island Range Hood - PLFI 750.42</h2>
                    <span>$1,789.99</span>
                    </a>
                </div>
                
                <div class = "island">
                    <a href="">
                    <img src="/img/products/island/42pp_prosi_42_angled.webp" alt="" class ="photo">
                    <h2>48" Island Range Hood - ProSI.48</h2>
                    <span>$2,159.99</span>
                    </a>
                </div>


            </section>
        
        </main>


    </body>

</html>