<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommerce</title>
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/profissional.css">
        <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <header>
            
            <section id = "topheader">
                <a href="/"><img src = "/img/logo.webp"  class = "Logo"/></a>            

                <div class="searchbar">
                    <input type="text" class="search-text" placeholder="Find your product...">
                    
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    
                </div>
                    
                <div> 
                    <ul id = "headerbar">
                        <li> <a class = "active" href="/account"> Sign In </a>  </li>
                        <li> <a href="/cart"></ahref> <i class="fa-solid fa-cart-shopping"></i></a></li>
                        
                    </ul>
                </div>

            </section>
            
            <section id = "menu">
                <div>

                    <ul id = "navbar">
                        <li> <a class = "active" href="/"> Home </a>  </li>
                        <li> <a href="/promotion"> Promotion </a>  </li>
                        <li> <a href="/island"> Island  </a>  </li>
                        <li> <a href="/profissional"> Profissional </a>  </li>
                        <li> <a href="/undercabinet "> Under Cabinet  </a>  </li>
                        <li> <a href="/wallmount"> Wall Mount  </a>  </li>

                    </ul>
                </div>
                
            </section>
        </header>

        <main>
            
            <section class = "banner">

                <div class = "bannertitle">

                    <h2> Profissional Range Hoods</h2> 
                    <h3> -- INSPIRING SPACES FOR YOUR KITCHEN </h3>
                    <span>Professional range hoods are commercial-grade residential hoods that clear your kitchen of unwanted contaminants, odors, and toxins. Professional range hoods are rated at 900+ CFM.</span>

                </div>
               
            </section>


            <section id = "container">

                <div class = "profissional">
                    <a href="">
                    <img src="/img/products/profissional/30'' Wall Range Hood - PLJW 129.30.webp" alt="" class ="photo">
                    <h2>30" Wall Range Hood - PLJW 129.30</h2>
                    <span>$799.99</span>
                    </a>
                </div>

                <div class = "profissional">
                    <a href="">
                    <img src="/img/products/profissional/30''pp_plfw_115_30_front.webp" alt="" class ="photo">
                    <h2>30" Under Cabinet Range Hood - PLJW 117.30</h2>
                    <span>$839.99</span>
                    </a>
                </div>

                <div class = "profissional">
                    <a href="">
                    <img src="/img/products/profissional/42pp_prosi_42_angled.webp" alt="" class ="photo">
                    <h2>42" Wall Range Hood - PLFW 832.42   </h2>
                    <span>$1,649.99 </span>
                    </a>
                </div>

                <div class = "profissional">
                    <a href="">
                    <img src="/img/products/profissional/plfw_750_30.webp" alt="" class ="photo">
                    <h2>48" Wall Range Hood - ProV 48W</h2>
                    <span>$1,819.99 </span>
                    </a>
                </div>

                <div class = "profissional">
                    <a href="">
                    <img src="/img/products/profissional/60''plfw_750_54_angled_1.webp" alt="" class ="photo">
                    <h2>60" Wall Range Hood - PLFW 750.60</h2>
                    <span>$1,789.99</span>
                    </a>
                </div>
                
                <div class = "profissional">
                    <a href="">
                    <img src="/img/products/profissional/60''pp_plfw_832_42_angled_3.webp" alt="" class ="photo">
                    <h2>60" Wall Range Hood - PLFW 832.60</h2>
                    <span>$2,099.99</span>
                    </a>
                </div>


            </section>
        
        </main>


    </body>

</html>