<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommerce</title>
        <link rel="stylesheet" href="../public/css/basic.css">
        <link rel="stylesheet" href="../public/css/header.css">
        <link rel="stylesheet" href="../public/css/sign-up.css">
        <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
            
            <section id = "topheader">
                <a href="#"><img src = "../public/img/logo.webp"  class = "Logo"/></a>            

                <div class="searchbar">
                    <input type="text" class="search-text" placeholder="Find your product...">
                    
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    
                </div>
                    
                <div> 
                    <ul id = "headerbar">
                        <li> <a class = "active" href="myaccount.html"> Sign In </a>  </li>
                        <li> <a href="cart.html"></ahref> <i class="fa-solid fa-cart-shopping"></i></a></li>
                        
                    </ul>
                </div>

            </section>
            
            <section id = "menu">
                <div>

                    <ul id = "navbar">
                        <li> <a class = "active" href="index.html"> Home </a>  </li>
                        <li> <a href="products.html"> Products </a>  </li>
                        <li> <a href="blog.html"> Promotion </a>  </li>
                        <li> <a href="about.html"> About Us </a>  </li>
                        <li> <a href="contact.html"> Contact </a>  </li>
                        

                    </ul>
                </div>
                
            </section>
        </header>

        <main>

            <h1>Create New Customer Account</h1>

            <span>Personal Information</span>

            <div class = "txt_field">
                <label >First Name</label>
                <input type="text" name = "firstName" required>
               
            </div>

            <div class = "txt_field">
                <label >Last Name</label>
                <input type="text" name = "lastName" required>
                
            </div>

            <span>Sign-in Information</span>

            <div class = "txt_field">
                <label >Email</label>
                <input type="email" name = "email" required>
               
            </div>

            <div class = "txt_field">
                <label >Password</label>
                <input type="password" name = "pass" required>
               
            </div>

            <div class = "txt_field">
            
                <label >Confirm Password</label>
                <input type="password" name ="passConf" required>
            
            </div>


            <button>Sign up</button>

        </main>

    </body>

</html>