<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommerce</title>
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/undercabinet.css">
        <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <header>
            
            <section id = "topheader">
                <a href="#"><img src = "/img/logo.webp"  class = "Logo"/></a>            

                <div class="searchbar">
                    <input type="text" class="search-text" placeholder="Find your product...">
                    
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    
                </div>
                    
                <div> 
                    <ul id = "headerbar">
                        <li> <a class = "active" href="myaccount.html"> Sign In </a>  </li>
                        <li> <a href="cart.html"></ahref> <i class="fa-solid fa-cart-shopping"></i></a></li>
                        
                    </ul>
                </div>

            </section>
            
            <section id = "menu">
                <div>

                    <ul id = "navbar">
                        <li> <a class = "active" href="/"> Home </a>  </li>
                        <li> <a href="/promotion"> Promotion </a>  </li>
                        <li> <a href="/island"> Island  </a>  </li>
                        <li> <a href="/profissional"> Profissional </a>  </li>
                        <li> <a href="/undercabinet "> Under Cabinet  </a>  </li>
                        <li> <a href="/wallmount"> Wall Mount  </a>  </li>

                    </ul>
                </div>
                
            </section>
        </header>

        <main>
            
            <section class = "banner">

                <div class = "bannertitle">

                    <h2> Under Cabinet Range Hoods</h2> 
                    <h3> -- INSPIRING SPACES FOR YOUR KITCHEN </h3>
                    <span>Under cabinet range hoods are versatile options for your kitchen. Our ducted and ductless under cabinet range hoods give you several options to choose from, so we are sure that you will find the right one for you.</span>

                </div>
               
            </section>


            <section id = "container">

                <div class = "undercabinet">
                    <a href="">
                    <img src="/img/products/undercabinets/30''pljw_117_30_angled.webp" alt="" class ="photo">
                    <h2>30" Under Cabinet Range Hood - PLJW 117.30</h2>
                    <span>$839.99</span>
                    </a>
                </div>

                <div class = "undercabinet">
                    <a href="">
                    <img src="/img/products/undercabinets/30''pp_plfw_115_30_front.webp" alt="" class ="photo">
                    <h2>30" Under Cabinet Range Hood - PLFW 115.30</h2>
                    <span>$589.99</span>
                    </a>
                </div>

                <div class = "undercabinet">
                    <a href="">
                    <img src="/img/products/undercabinets/36''plfw_185_30_angled_1.webp" alt="" class ="photo">
                    <h2>36" Under Cabinet Range Hood - PLJW 185.36</h2>
                    <span>$1,099.99 </span>
                    </a>
                </div>

                <div class = "undercabinet">
                    <a href="">
                    <img src="/img/products/undercabinets/36''pp_plfw_115_30_angled_1.webp" alt="" class ="photo">
                    <h2>36" Under Cabinet Range Hood - PLFW 115.36</h2>
                    <span>$819.99 </span>
                    </a>
                </div>

                <div class = "undercabinet">
                    <a href="">
                    <img src="/img/products/undercabinets/42''new_hood.webp" alt="" class ="photo">
                    <h2>42" PLJW BBQ Pro</h2>
                    <span>$2,079.99</span>
                    </a>
                </div>
                
                <div class = "undercabinet">
                    <a href="">
                    <img src="/img/products/undercabinets/42pljw_109_42_angled_2.webp" alt="" class ="photo">
                    <h2>42" Wall Range Hood - PLJW 109.42 2000CFM</h2>
                    <span>$1,629.99</span>
                    </a>
                </div>


            </section>
        
        </main>


    </body>

</html>