<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv = "X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommerce</title>
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/wallmount.css">
        <script src="https://kit.fontawesome.com/1051284148.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <header>
            
            <section id = "topheader">
                <a href="#"><img src = "/img/logo.webp"  class = "Logo"/></a>            

                <div class="searchbar">
                    <input type="text" class="search-text" placeholder="Find your product...">
                    
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    
                </div>
                    
                <div> 
                    <ul id = "headerbar">
                        <li> <a class = "active" href="myaccount.html"> Sign In </a>  </li>
                        <li> <a href="cart.html"></ahref> <i class="fa-solid fa-cart-shopping"></i></a></li>
                        
                    </ul>
                </div>

            </section>
            
            <section id = "menu">
                <div>

                    <ul id = "navbar">
                        <li> <a class = "active" href="/"> Home </a>  </li>
                        <li> <a href="/promotion"> Promotion </a>  </li>
                        <li> <a href="/island"> Island  </a>  </li>
                        <li> <a href="/profissional"> Profissional </a>  </li>
                        <li> <a href="/undercabinet "> Under Cabinet  </a>  </li>
                        <li> <a href="/wallmount"> Wall Mount  </a>  </li>

                    </ul>
                </div>
                
            </section>
        </header>

        <main>
            
            <section class = "banner">

                <div class = "bannertitle">

                    <h2> Wall Mount Range Hoods</h2> 
                    <h3> -- INSPIRING SPACES FOR YOUR KITCHEN </h3>
                    <span>Wall mount range hoods provide you with clean and fresh kitchen air. Purchase a professional quality wall mount range hood today to jump start your kitchen remodel!</span>

                </div>
               
            </section>


            <section id = "container">

                <div class = "wallmount">
                    <a href="">
                    <img src="/img/products/wallrange/30'' Wall Range Hood - PLFW 520.30.webp" alt="" class ="photo">
                    <h2>30" Wall Range Hood - PLFW 520.30</h2>
                    <span>$999.99</span>
                    </a>
                </div>

                <div class = "wallmount">
                    <a href="">
                    <img src="/img/products/wallrange/30'' Wall Range Hood - PLJW 129.30.webp" alt="" class ="photo">
                    <h2>30" Wall Range Hood - PLJW 129.30</h2>
                    <span>$799.99</span>
                    </a>
                </div>

                <div class = "wallmount">
                    <a href="">
                    <img src="/img/products/wallrange/36'' Wall Range Hood - PLFW 750.36.webp" alt="" class ="photo">
                    <h2>36" Wall Range Hood - PLFW 750.36</h2>
                    <span>$1,099.99  </span>
                    </a>
                </div>

                <div class = "wallmount">
                    <a href="">
                    <img src="/img/products/wallrange/36'' Wall Range Hood - PLJW 129.36.webp" alt="" class ="photo">
                    <h2>36" Wall Range Hood - PLJW 129.36</h2>
                    <span>$899.99 </span>
                    </a>
                </div>

                <div class = "wallmount">
                    <a href="">
                    <img src="/img/products/wallrange/48'' Wall Range Hood - PLJW 101.48.webp" alt="" class ="photo">
                    <h2>48" Wall Range Hood - PLJW 101.48 1000 CFM</h2>
                    <span>$1,659.99</span>
                    </a>
                </div>
                
                <div class = "wallmount">
                    <a href="">
                    <img src="/img/products/wallrange/48'' Wall Range Hood - ProV 48W.webp" alt="" class ="photo">
                    <h2>48" Wall Range Hood - ProV 48W</h2>
                    <span>$1,819.99</span>
                    </a>
                </div>


            </section>
        
        </main>


    </body>

</html>