main {
    padding: 20px 100px 0px 100px;
}

main h1{
    padding-bottom: 15px;
    font-size: 50px;
}

.final {
    padding: 50px 0px;
}

.final input{
    width: 300px;
    border: solid 1px #c1c1c1;
    padding: 10px;
    font-size: 15px;
}

.final button{
    
    width: 150px;
    height: 40px;
    background-color: rgb(63, 63, 202);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}