/* Header*/
#topheader{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    padding: 15px 100px;
    background-color:#fefeff;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
}
#topheader img{
    width:300px;
    height:50px;
}
/* Header menu*/
#headerbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#headerbar li{
    list-style: none;
    padding: 10px;
    position: relative;
}
#headerbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}
/* Header Search Bar*/
.searchbar{
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.search-text{
    border: solid 1px #c1c1c1;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 22px;
}

.searchbar button{
    background-color: transparent;
    border: none;
    color: #c1c1c1;
    position: absolute;
    right:7px;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
}

/* Menu*/

#navbar{
    display: flex;
    align-items: center;
    justify-content: left;
    background: lightblue;
    padding-left: 100px;
    

}

#navbar li{
    list-style: none;
    padding: 15px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: #1a1a1a;
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom:15px;
    left: 15px
}


