.banner{
    background-image: url(../img/banner.png);
    background-size: 1200px auto;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #f5f7fa;
}

.bannertitle{
    position: absolute;
    top: 40px;
    right: 150px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.bannertitle h2{
    display: block;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.bannertitle a{
    text-decoration: none;
    color: black;
    font-style: oblique;
    background-color: beige;
    font-size: x-large;
    
}
.banner img{
    height: 10%;
    width: 1024px;
}

.categories{
    padding: 20px;
}
.produtos{
    padding-top:20px;
    display: flex;
    justify-content: space-around;
  
}
.produtos div{
    width: 200px;
    height: 200px;
}

.produtos div a{
    text-decoration: none;
    color: black;
}
.produtos div img{
    width: 100%;
}

.produtos div a:hover{
    color: #088178;
}


.reviews {
    padding: 20px;
    padding-top: 40px;
    display: flex;
}

#customer {
    background-color: aqua;
    width: 70%;
    
}

.reviews div{
    height: 200px;
}

#about {
    padding-left: 20px;
    background-color: beige;
    width: 30%;
}

#about ul li{
    list-style: none;
    padding-top: 10px;
}

#about img{ 
    width: 20px;
    height: 20px;
}
