body {
    background-color: rgb(238, 235, 235);
}
.center {
    padding: 20px 100px;
    width: 50%;
}

.center h1{
    font-size: 40px;
    font-family: cursive;
}

#regcostumer{
    padding-top: 25px;
}

#regcostumer h2{
    font-size: 20px;
    border-bottom: 1px solid black
    }

#regcostumer form{
    padding-top: 20px;
}

